---
layout: base.njk
title: Minimal boilerplate for new projects built with Eleventy, Tailwind and PostCSS
---

<section class="py-20 bg-gray-50">
    <div class="max-w-5xl mx-auto py-5">
      <div class="text-center mb-6">
        <!-- 
            <span class="text-base md:text-lg">
              <a class="text-blue-500 hover:underline" href="#">CATEGORY</a>
              <span class="text-blueGray-400">24 Jan, 2020</span>
            </span>
        -->
        <h2 class="text-4xl md:text-5xl mt-4 font-bold font-heading">Direct-From-Consumer Marketing (DFC): Anatomy Of a Future-proof Brand</h2>
      </div>
    </div>
<!--
        <img class="w-12 h-12 object-cover rounded-full" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
        <div class="pl-4">
          <p class="text-blueGray-500 mb-1">Alice Bradley</p>
          <p class="text-xs text-blue-600 font-semibold">Author</p>
        </div>
      </div>
  -->
    <div class="max-w-2xl mx-auto">
    <div class="container px-4 mx-auto">
    <h3 class="text-3xl md:text-3xl mt-4 font-bold font-heading py-3">What Is Direct-From-Consumer (DFC)?</h3>
          <p class="mb-6 leading-loose text-blueGray-400">Third party cookies have crumbled. The IDFA is DOA. GDPR stopped being generous. In just a few short years, marketers have seen the tables turn nearly 180° -- from an age where black box data ran amok and digital fingerprints littered the web, to a point where consumers emerged victorious in a quest to have their cake and eat it too. The cake is data privacy protections… and the eating? Well, that’s the ever-increasing demand for personalization and engagement, in spite of all the newly-crippled marketing models.</p>
          <p class="leading-loose text-blueGray-400">But, marketers always find a way -- and the way ahead is zero-party data (ZPD), willingly offered up by conscious consumers. Of course, the very term ZPD diminishes the consumer, exposing its negligence to the foundations of consumer-centric marketing and sending us down the same dead-end path. No; if our industry’s going to do this, let’s do it right. Let’s respect the importance of the consumer relationship from the start. Let’s call this new era of data Direct-From-Consumer, or DFC.</p>
    <h3 class="text-3xl md:text-3xl mt-4 font-bold font-heading py-3">The Defining Traits Of DFC</h3>
        <ol class="list-inside list-decimal mb-6 leading-loose text-blueGray-400">
            <li>Participatory. The consumer willingly offers their data to a brand in exchange for value.</li>
            <li>Transparent. The consumer knows why a brand wants a data point, and how it will be used. They know this not because they scoured the Terms Of Service, but because the brand clearly communicated their intent within the user experience.</li>
            <li>Non-judgmental. DFC marketers don’t buy shady demographic data for pennies and then stereotype their customers. They let the customers self-identify.</li>
            <li>Reciprocating. The user experience, and the brand at large, considers where, how, and why the consumer would want to offer their data, and how that exchange of value can yield trust, not just transactions.</li>
            <li>Accessible. The consumer trusts a brand in part because they know what data the brand has about them, how they can update it, and how they can take it with them if the need ever arises.</li>
        </ol>
    <h3 class="text-3xl md:text-3xl mt-4 font-bold font-heading py-3">Anatomy Of A DFC-Powered Brand</h3>
            <p class="mb-6 leading-loose text-blueGray-400">Necessity is the mother of invention, and as direct-to-consumer brands found the traditional retailer model to be a recipe for disaster, they developed a mastery of the DFC data approach.</p>

            <p class="mb-6 leading-loose text-blueGray-400">Here are a few of the tactics in their toolboxes: (we can treat this graphically rather than just listing them out in copy)</p>
                <ol class="list-inside list-disc mb-6 leading-loose text-blueGray-400">
                    <li>Communities, both in-house and platform-based</li>
                    <li>Feedback loops from customer support</li>
                    <li>Preference, experience and personalization surveys</li>
                    <li>Brand advocacy development</li>
                    <li>Events, programs & prizes</li>
                    <li>Invitations to participate in product testing</li>
                </ol>

            <p class="mb-6 leading-loose text-blueGray-400">Here’s an abbreviated list of what they get in return:</p>
                <ol class="list-inside list-disc mb-6 leading-loose text-blueGray-400">
                    <li>Purchase intent & history</li>
                    <li>Demographic data</li>
                    <li>Psychographic data</li>
                    <li>Product preferences</li>
                    <li>Reviews & ratings</li>
                    <li>Crowdsourced product & brand development</li>
                    <li>Word of mouth referrals</li>
                </ol>
            <p class="mb-6 leading-loose text-blueGray-400">
                Of course, the most valuable asset brands get in return for honoring the DFC principles is: trust. It’s the next-gen currency for brands, because you don’t build relationships on ROAS.
            </p>
            <p class="mb-6 leading-loose text-blueGray-400">
                Brands that know their customers better than their competitors will triumph. And so, as you watch dubious third party data deteriorate over the coming months, and watch it fall off a cliff after the conversion is complete, the question must be asked:
            </p>
            <p class="mb-6 leading-loose text-blueGray-400">
                Do you know your customers better than your competitors do?
            </p>
        <h3 class="text-3xl md:text-3xl mt-4 font-bold font-heading py-3">Are You Future-proof?</h3>

            <p class="mb-6 leading-loose text-blueGray-400">
                Can your brand build its empire on Direct-From-Consumer data today, or are department heads bound to roll? Take our DFC Readiness Score to find out. And yes, this is an example of DFC data. Good eye -- perhaps there’s hope for your brand after all.
            </p>


    </div>
  </div>
</section>